@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.container {

    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;

}

body {
    background-color: #FD5D5D;
}

html {
    background-color: #FD5D5D;
}

.container-wrapper {
    padding: 3em;
    padding-bottom: 0;
    margin: 2em;
    width: 35%;
    height: max-content;
    background-color: #FF8080;
    border-radius: 30px;
}

.login-text {
    text-align: center;
    font-size: 2em;
    margin-top: -2%;
}

.item {
    padding: 0.2em;
}

.container-wrapper label,
button {
    padding: 0.2em;
}

.submit {
    text-align: center;
    margin-top: 20px;
}

.submit button {
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 4.7em;
    border: none;
    width: 100%;
    background-color: #FD5D5D;
    font-size: 18px;
}

.submit button:hover {
    background-color: #ff3449;
    cursor: pointer;
    box-shadow: #b5b6fb;

}



form {
    margin: 2em auto 2em auto
}

.input {
    padding: 20px;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    margin: 5px;
}

.remember {
    text-align: right;
    font-size: normal;
    margin-left: 0px;
    display: inline-block;
    margin-top: 17px;
}

* {
    font-family: 'Varela Round', sans-serif;
    color: #3a2d2d;
}

.ac-logo {
    padding: 5px;
    size: 20px;
}

.invalid-feedback {
    color: yellow;
    text-align: center;
}

a {
    all: unset;
}

a:hover {
    color: #00A0C6;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 500px) {

    .container-wrapper {
        padding: 2em;
        margin: 1em;
    }

    .login-text {
        font-size: 1.5em;
    }

    .item {
        padding: 0.1em;
        text-align: center;
    }

    .container-wrapper label,
    button {
        padding: 0.1em;
    }

    .submit {
        margin-top: 1em;
        margin-bottom: 2em;

    }

    .submit button {
        padding: 0.5em 1em;
        border-radius: 4.7em;
        font-size: 14px;
    }



    form {
        margin: 1em auto 1em auto
    }

    .input {
        padding: 10px;
        border-radius: 15px;
        font-size: 15px;

    }

    .remember {
        font-size: smaller;
        margin-left: 6em;
    }
}