<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title Icon -->
    <link rel="shortcut icon" type="image/png" href="imgs/home-icon.png" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/home_app.css">

    <title>Study Kit</title>
</head>

<body>
    <nav id="mainNavbar" class="navbar navbar-dark navbar-expand-md py-0 fixed-top">
        <a href="/" class="navbar-brand">StudyKit</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navLinks">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/login" class="nav-link"><b>Login</b></a>
                </li>
                <li class="nav-item">
                    <a href="/register" class="nav-link"><b>Register</b></a>
                </li>
            </ul>
        </div>
    </nav>

    <section class="container-fluid px-0">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div id="headingGroup" class="text-white text-center d-none d-lg-block mt-5">
                    <h1><span>/</span>STUDY<span>\</span></h1>
                    <h1><span>/</span>STUDY<span>\</span></h1>
                    <h1><span>/</span>STUDY<span>\</span></h1>
                    <h1><span>/</span>STUDY<span>\</span></h1>
                    <h1><span>/</span>STUDY<span>\</span></h1>
                    <h1><span>/</span>STUDY<span>\</span></h1>
                    <h1><span>/</span>STUDY<span>\</span></h1>
                </div>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid" src="imgs/study1.png" alt="">
            </div>
        </div>
    </section>

    <section class="container-fluid px-0">
        <div class="row align-items-center content">
            <div class="col-md-6 order-2 order-md-1">
                <img src="imgs/flashcard.png" alt="" class="img-fluid">
            </div>
            <div class="col-md-6 text-center order-1 order-md-2">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h2><a href="/flash_card">FLASH CARDS</a></h2>
                        <img src="imgs/bookstudy.png" alt="" class="d-none d-lg-inline">
                        <p class="lead">Flash cards are effective memory-aid tools that can help students learn new material quickly. Although it may be
                        tempting to associate flash-card learning with younger children who may be learning the basics of arithmetic or with
                        high school students cramming for exams, the article "Revisiting Flashcards" by Anastasia Salter published on the
                        Chronicle of Higher Education website states that newer, more sophisticated digital-based flash cards can be a highly
                        effective aid to assist college students in their learning.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center content">
            <div class="col-md-6 text-center">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h2><a href="/sticky_notes">STICKY NOTES</a></h2>
                        <img src="imgs/bookstudy.png" alt="" class="d-none d-lg-inline">
                        <p class="lead">Student life becomes a whole lot of fun and easier when you start using the right stationery. Sticky notes are an
                        effective way to make your learning process colorful and visually stimulating.
                        
                        Apart from the regular old boring note-taking, it tricks you into making studying look like playing a game. That’s
                        exactly why I recommend you to try these tips with your post-it notes and let me know if it helped.</p>
                    </div>
                </div>
            </div>
            <div id="stickydiv" class="col-md-6">
                <img id="sticky" src="imgs/stickynote.png" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row align-items-center content">
            <div class="col-md-6 order-2 order-md-1">
                <img src="imgs/pomodoro.png" alt="" class="img-fluid">
            </div>
            <div class="col-md-6 text-center order-1 order-md-2">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h2><a href="/pomodoro">POMODORO</a></h2>
                        <img src="imgs/bookstudy.png" alt="" class="d-none d-lg-inline">
                        <p class="lead">This technique allows for four sessions of intense focus over 2 hours. Within this time are have four periods to get
                        things done with breaks scheduled in between. Each of these 25-minute blocks of active time is designed to maintain an
                        extreme level of focus. The first three time periods are broken up by 5-minute breaks to rest fully and step away from
                        the desk. The fourth 25-minute focus interval is followed by an extended 20-minute break before the timer ultimately
                        resets again.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>


    <script>
        $(function () {
            $(document).scroll(function () {
                var $nav = $("#mainNavbar");
                $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
            });
        });
    </script>

    
</body>

</html>